<template name="layout">
  <div class=".container-fluid">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" id="btn-home" href="/"><span class="glyphicon glyphicon-book"></span></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active" id="welcome_board"><a href='/welcome'>Welcome board</a></li>
          <li id="challenge"><a href='/challenge'>Challenge</a> </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!-- Login buttons will go here -->
          {{>loginButtons}}
        </ul>
      </div>
    </div>
</div>
<!-- App panels will go here-->
  {{>yield}}
</template>
