
<template name="welcome">
  <h1>Welcome board</h1>
    <div name="board" class="text-center">
      <div name="hello"><h1> <strong>{{getNewAttendee.name}}</strong> {{getWelcomeMessage(getNewAttendee.name)}} </h1>
      <br>
        <img src="{{getNewAttendee.photo_link}}" class="thick-blue-border center" >
              {{wasWelcomed(getNewAttendee._id)}}
      </div>
    </div>
</template>
