<template name="challenge">
  <br/><br/><br/><br/>
  <div class="well">
    <div>
       {{> inputAutocomplete settings=settings id="attendeeName" class="form-control" placeholder="Attendee name ...."}}
    </div>
  </div>
  <div class="form-group">
    <label for="twitter_handle">Twitter Handle</label>
    <input type="text" class="form-control" id="twitter_handle">
  </div>
  <div>
     <button type="button" class="btn btn-primary">Tweet !!!</button>
  </div>
</template>


<template name="attendeeName">
      {{name}} {{_id}}
</template>
