<template name="organizer">
  <div><h2>Organizer details</h2>
    {{#if currentUser}}
      <div class="form-group">
        <label for="usr">Meetup Event Id</label>
        <input type="text" class="form-control" id="event_id">
      </div>
      <button type="button" class="btn btn-default submit" id="submitOrganizer">Beam Me Up, Scottie !!!</button>
    {{else}}
      <h3>Please login first</h3>
    {{/if}}
  </div>
  {{> sAlert}}
</template>
